.centerDiv{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.back-image{
  left: 0;
  top: 0;
  right: 0;
  width:40px;
  height: 100%;
  position:absolute;
}
.front-pane{
  position: absolute;
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
  background-color: rgba(0,0,255,0.5);
}
form{

}
#User{
  width: 80%;
  margin-left: 10%;
}
#Password{
  width: 80%;
  margin-left: 10%;
}
