*{
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}

header{
	padding: 20px;
	background:	#3b5998;
}

h1{
	position: absolute;
	color: white;
	font-size: 180%;
	line-height: 120%
}
p#logIn{
	padding: 6px;
	position: relative;
	float: right;
	color: white;
}
.container{
	display: block;

	margin: 80px auto;
	height: 280px;
	width: 500px;
	
	background-color: #f7f7f7;
	border-radius: 10px;

}
#header{
	text-align: center;
	padding-bottom: 10px;
	color: #3b5998 ;
}
#forms{
	padding-left: 40px;
	padding-bottom: 20px;
}
.form-control {
    display: block;
    width: 60%;
    height: 34px;
    padding: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-primary {
    color: #fff;
    background-color: #3b5998;
}
.button{
	padding-left: 40px;
}
.btn {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.logInLink{
	margin-top: -80px;
	text-align: center;
	
}
#logInLink{
	color:#3b5998;
	text-decoration: none;
	text-decoration: none;

}